*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary-color: #3f51b5;
  --dark-primary-color: #263238;
  --light-primary-color: #29b6f6;
  --accent-color: #3d5afe;
  --text: #FFFFFF;
  --primary-text: #212121;
  --secondary-text: #757575;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
a {
  outline: 0 !important;
}

body {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  vertical-align: baseline;
  overflow-x: hidden;
}

/* GRID */
.flex {
  display: flex;
}
.container {
  flex-flow: column wrap;
  text-align: left;
  padding: 2.17rem 0 2.17rem 0;
}
  .container--light {
    color: var(--primary-text);
    background-color: var(--text);
  }
  .container--primary {
    background-color: var(--accent-color);
    color: var(--text);
  }
  .container--dark {
    background-color: var(--dark-primary-color);
    color: var(--text);
  }
    .container--light .container-title::selection,
    .container--light .container-subtitle::selection {
      background: var(--primary-text);
      color: var(--text);
    }
    .container--primary .container-title::selection,
    .container--primary .container-subtitle::selection,
    .container--dark .container-title::selection,
    .container--dark .container-subtitle::selection {
      background: var(--text);
      color: var(--primary-text);
    }
.main {
  position: relative;
  z-index: 2;
  background-color: var(--text);
  color: var(--primary-text);
  margin-bottom: auto;
}
.row {
  width: 100%;
  padding: 0 1.15rem;
}
.jc {
  justify-content: center;
  align-items: center;
}
.jsb {
  justify-content: space-between;
}
.jsa {
  justify-content: space-around;
}
.aic {
  align-items: center;
}

/* TYPOGRAPHY */
h1 {
  font-size: 1.75rem;
}
h2 {
  font-size: 1.73rem;
}
h3 {
  font-size: 1.22rem;
}
p {
  font-size: 1.10rem;
}
.container-subtitle {
  font-weight: 300;
  flex: 1 100%;
  padding-top: 1.15rem;
  padding-left: 1.3rem;
}
.container-title {
  flex: 1 100%;
  padding-top: 1.15rem;
  padding-left: 1.3rem;
}
.l {
  color: var(--text);
  text-decoration: none;
  transition: 0.3s;
  padding: 0;
}
  .l--light {
    color: var(--primary-text);
  }
  .l:hover {
    text-decoration: underline;
  }
.i {
  font-style: italic;
  font-weight: light;
}
.s {
  font-weight: bold;
}
.dpc {
  color: var(--dark-primary-color);
}
.ac {
  color: var(--accent-color);
}
.tc {
  text-align: center;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.q {
  font-weight: 400;
  color: var(--secondary-text);
  font-style: italic;
}
.fdc {
  flex-direction: column;
}

/**
Loader
*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**
* Hide / show elements
*/
.hide {
  display: none
}
.show {
  display: unset
}

.button {
  text-decoration: none;
  padding: 1rem;
  font-size: 1.1rem;
  color: var(--text);
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.65rem 0.73rem;
  margin: 0.3rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  transition: 0.3s;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
}
  .button:hover {
    opacity: 0.8;
  }
  .button--primary {
    background-color: var(--accent-color);
  }
  .button--dark {
    background-color: var(--dark-primary-color);
  }
  .social-icon {
    height: 2em;
    border-radius: 5px;
    background-color: transparent;
    margin: 0 0.5em;
  }
.contact .l {
  padding-left: 0.4em;
  padding-right: 0.4em;
  background-color: var(--accent-color);
}

/* NAVIGATION */
.header {
  position: fixed;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.05rem;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  color: var(--text);
  height: 3.45rem;
  background-color: transparent;
}
  .header-nav {
    width: inherit;
    height: inherit;
  }
  .header--scroll {
    background-color: var(--dark-primary-color);
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
              box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
  }
    .header--scroll .header-brand,
    .header--scroll .menu {
      display: flex;
    }
  .menu {
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 0vh;
    width: 100vw;
    z-index: 11;
    transition: all 0.5s;
    overflow: hidden;
  }
    .header-brand {
      z-index: 12;
      display: none;
    }
    .header-brand, .header-navlink {
      text-decoration: none;
      padding: 0.7rem;
      color: inherit;
      z-index: inherit;
    }
    .header-navlink {
      font-size: 2.5rem;
      margin-left : 0.3rem;
      text-align: center;
      padding: 2rem;
      transition: 0.5s;
    }
      .header-navlink:hover {
        color: var(--light-primary-color);
      }
  .menu--active {
    height: 100vh;
    display: flex;
    background-color: var(--dark-primary-color);
    color: var(--text);
    opacity: 0.97;
    justify-content: center;
  }
    .menu--active .header-navlink:hover {
      color: var(--light-primary-color);
    }
  .button-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50px;
    position: absolute;
    top: 3px;
    right: 10px;
    z-index: 1;
    cursor: pointer;
  }
    .line {
      background: var(--text);
      width: 25px;
      height: 3px;
      z-index: 1;
      margin: 3px;
      border-radius: 3px;
      -webkit-transition: all 0.3s ease;
              transition: all 0.3s ease;
    }
    .cross {
      z-index: 12;
    }
      .cross .line {
        background-color: var(--text);
      }
      .cross span:first-child {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        -webkit-transform-origin: 97% 100%;
                transform-origin: 97% 100%;
      }
      .cross span:nth-child(2) {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
        width: 0px;
        height: 0px;
        z-index: 0;
      }
      .cross span:last-child {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        -webkit-transform-origin: 82% 50%;
                transform-origin: 82% 50%;
      }
  .lang-container {
    margin-top: -1rem;
    margin-left: 1rem;
  }
  .lang--container .header-navlink {
    font-size: 0.9rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

/* SECTIONS */
.main > section {
  z-index: inherit;
}
  .home {
    display: flex;
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-color: var(--primary-color);
    color: var(--text);
  }
    .home::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(84, 114, 114, 0.2);
      z-index: 0;
    }
    .home-intro {
      margin: auto;
      z-index: 2;
      padding: 1.3rem;
      text-align: left;
    }
      .home-title {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.5px;
        word-spacing: 5px;
      }
    .home .home-title::selection,
    .home .home-subtitle::selection {
      background: var(--text);
      color: var(--primary-text);
    }
  .writings-post {
    padding-top: 1.55rem;
    padding-left: 1.3rem;
    width: 100%;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
    .post-summary {
      font-weight: 300;
      color: var(--text);
      padding: 0;
    }
/* FOOTER */
.social {
  margin-bottom: 1em;
}
.credits {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.5;
}
.credits span:first-letter {
  text-transform: capitalize;
}
.credits span::selection {
  background: var(--text);
  color: var(--primary-text);
}
.separator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 3rem auto;
}
  .separator--light {
    background-color: var(--accent-color);
    border: solid 1px var(--accent-color);
  }
  .separator--dark {
    background-color: var(--dark-primary-color);
    border: solid 1px var(--dark-primary-color);
  }
ul li {
  margin-bottom: 0.4rem;
}
.project-image {
  padding: 2rem;
}
  .project-image > img {
    max-width: 100%;
    max-height: 100%;
  }
.project-content {
  flex-flow: column nowrap;
}
.intro--container {
  flex-flow: column nowrap;
}
.intro--container .intro--icon {
  padding: 0 2rem;
  justify-content: center;
  width: 20%;
}
.intro--container .intro--description {
  width: 80%;
  text-align: center;
}
.intro--icon img {
  height: 5rem;
  width: 5rem;
  color: #3d5afe;
}

/* MEDIA QUERIES */
@media (min-width: 600px) {
  .intro--container {
    flex-flow: row nowrap;
    padding-left: 2rem;
    padding-right: 2rem;
  }
    .intro--container .intro--icon {
      justify-content: flex-end;
    }
    .intro--container .intro--description {
      text-align: left;
    }
  .lang--container .header-navlink {
    font-size: 0.7rem;
  }
  .container {
    flex-direction: row;
  }
  h1 {
    font-size: 2.5rem;
  }
  .menu {
    position: unset;
    background: inherit;
    flex-flow: row nowrap;
    justify-content: flex-end;
    width: 100%;
    height: inherit;
  }
    .button-menu {
      display: none;
    }
    .header-navlink {
      font-size: 1.05rem;
      line-height: normal;
      padding: 0 1rem;
    }
      .header-navlink:hover,
      .header-brand:hover {
        opacity: 0.97;
        background-color: unset;
      }
  .home {
    background-attachment: fixed;
  }
    .home-intro {
      margin: auto 2rem;
    }
  .about {
    flex-flow: row-reverse wrap;
    align-items: center;
    padding-left: 4rem;
    padding-right: 1.7rem;
  }
  .writings-post {
    width: auto;
    flex: 1 50%;
    padding-right: 1rem;
    word-wrap: break-word;
  }
  .credits {
    letter-spacing: 1px;
    font-size: 0.9rem;
  }
}
@media (min-width: 945px) {
  .project-content {
    flex-flow: row nowrap;
  }
  h1 {
    font-size: 3.64rem;
  }
  .container {
    padding: 2.75rem 4rem 3.75rem 4rem;
  }
}
